.uploader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.uploader {
    display: none;
}

.uploader-icon:hover {
    cursor: pointer;
}

.uploader-icon::before {
    font-family: "iconfont" !important;
    font-size: 60px;
    color: rgb(168, 237, 237);
    content: "\e661";
}