.displayer-wraper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.first-row-displayer {
    display: flex;
    height: 49.5%;
}

.second-row-displayer {
    position: relative;
    display: flex;
    height: 49.5%;
}

.midhline {
    height: 1%;
    background-color: rgb(96, 110, 113);
}

.midvline {
    width: 1%;
    background-color: rgb(96, 110, 113);
}

.selection-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.selection {
    fill: #ADD8E6;
    stroke: #ADD8E6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.lowPassCircle {
    fill: #262626;
    stroke: #b4b4b4;
    fill-opacity: 0.6;
    stroke-opacity: 0.7;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.highPassCircle {
    fill: #ADD8E6;
    stroke: #ADD8E6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.buttons-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(246, 177, 169)
}

.selection-button-done:hover {
    cursor: pointer;
    color: rgb(200, 247, 183)
}

.selection-button:hover {
    cursor: pointer;
}

.filter-button-done:hover {
    cursor: pointer;
    color: rgb(200, 247, 183)
}

.filter-button:hover {
    cursor: pointer;
}

.selection-button::before {
    font-family: "iconfont" !important;
    font-size: 30px;
    content: "\ea77";
}

.selection-button-done::before {
    font-family: "iconfont" !important;
    font-weight: bold;
    font-size: 30px;
    content: "\e68b";
}

.filter-button::before {
    font-family: "iconfont" !important;
    font-size: 30px;
    content: "\e6b4";
}

.filter-button-done::before {
    font-family: "iconfont" !important;
    font-weight: bold;
    font-size: 30px;
    content: "\e68b";
}

.filter-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-input {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding-left: 5px;
    width: 300px;
    justify-content: space-evenly;
    transition: all .5s ease-in-out;
}

.switch-wrap {
    position: absolute;
    top: 5px;
    left: 5px;
}

.switch-wrap button {
    width: 60px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(121, 121, 121, 0.774);
    background-color: rgb(190, 250, 230);
    font-weight: bold;
    font-size: 15px;
}

.switch-wrap button:hover {
    box-shadow: inset 0px 0px 2px rgba(121, 121, 121, 0.774);
    cursor: pointer;
}